/TestCloudRunDB/bin/
/TestCloudRunDB/obj/
/TestCloudRunDB.Data/bin/
/TestCloudRunDB.Data/obj/
/TestCloudRunDB.Model/bin/
/TestCloudRunDB.Model/obj/
/TestCloudRun.Web/bin/
/TestCloudRun.Web/obj/
/.vs/


